/* Reset */
*,
*::before,
*::after{
    box-sizing: border-box;
}

/* Variables */
:root{
    --bg: #f9f9fb;
    --surface: #fff;
    --text: #222;
    --muted: #555;
    --brand: #5bb8ff;
    --brand-ink: #062a40;

    --border: 1px solid #ddd;
    --radius: .5rem;

    --space-1: .25rem;
    --space-2: .5rem;
    --space-3: 0.75rem;
    --space-4: 1rem;
    --space-5: 1.25rem;
    --space-6: 1.5rem;
    --space-8: 2rem;
    --font-sans: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", monospace;



    --shadow-1: 0 1px 2px rgba(0, 0, 0, .3);
    --shadow-2: 0 10px 24px rgba(0, 0, 0, .35);
}

/* styles */
html,
body{
    margin: 0;
    height: 100%;
    background-color: var(--bg);
    color: var(--text);
    font-size: 16px;
    font-family: var(--font-mono);
}

/* Header */

.header{
    display: flex;
    flex-wrap: wrap;

    background-color: #ffffff;
    margin: 0 auto;
    padding: .6rem var(--space-4);
    justify-content: space-between;

    position: sticky;
    z-index: 10;

    align-items: center;


}

#name{
    font-size: large;
}

#tagline{
    font-size: medium;
}

.nav > .link{
    color: var(--text);
    text-decoration: none;
    padding: .3rem .6rem;
    border-radius: .25rem;
}

.nav > .link:hover{
    background-color: #eeee;
    justify-content: space-between;
}

/* sidebar & main grid layout */
.grid_lay{
    display: grid;
    gap: var(--space-4);
    grid-template:
    "side main"
    / 1fr 3fr;
}


/* Sidebar */
.sidebar{
    grid-area: side;
    position: sticky;
}



/* Main */
.content{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}
/* Home */
#home{
    display: flex;
    flex-wrap: wrap;
}
/* Articles (Grid Layout) */

#articles{
    display: grid;
    gap: var(--space-4);
    grid-template:
        "title title title"
        "card1 card2 card3"
        / 1fr 1fr 1fr;
}
#articles > h2{
    grid-area: title;
}
.card{
    background-color: #eeee;
    padding: .3rem .6rem;
    border-radius: .25rem;
}
#frontend{
    grid-area: card1;
}
#backend{
    grid-area: card2;
}
#fullstack{
    grid-area: card3;
}


/* About */
#image_text{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    p{
        order:2;
    }
    image{
        order:1;
    }
}

/* Contact */


/* Footer */

.site_footer{
    padding: var(--space-8) var(--space-4);
    text-align: center;
    color: var(--muted);
    background-color: var(--surface);
}

@media (max-width: 1024px){

}



